

html,body {
  height: 100%;
}

#fullScreen {
  height: 100%;
}

#map{
height: 90%;
width: 100%;
float: left;
}


#info{
  
  height: 100%;
  width :100%;
  background-color: blue;
}



/* Marker on map */


/* Marker on choice modal */

.markerPosition {
  position: static;
}

.awesome-marker .ion-flag {
  margin-left: 0.3em;
}

.awesome-marker .ion-model-s {
font-size: 18px;
margin-bottom: 0.1em;


}

.markersList{
    display: inline-block;
    text-align: center;
}



/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.awesome-marker i {
        font-size: 22px;
        
    }