
<div id="map">
	<leaflet lf-center="center"  layers="layers" width="100%" height="400"></leaflet>
</div>


<!-- The Modal -->
<div id="myModal" class="modal" ng-show="showNewMarker">

	<!-- Modal content -->
	<div class="modal-content">
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Description du stand (max 150 char.)</label>
				<textarea class="form-control" ng-model="markerMsg" maxlength="150" rows="3"></textarea>
			</div>
			


			<div id="cat">
				<div class="markersList">
					<div id="markerWine" class="awesome-marker-icon-red awesome-marker" tabindex="0" style="width: 35px; height: 45px;  z-index: 88;"><i class=" ion ion-wineglass  icon-white"></i></div>
					<label><input type="checkbox" name="option3" value="Cheese"></label>
				</div>
				<div class="markersList">
					<div id="markerWine" class="awesome-marker-icon-red awesome-marker" tabindex="0" style="width: 35px; height: 45px;  z-index: 88;"><i class=" ion ion-wineglass  icon-white"></i></div>
					<label><input type="checkbox" name="option3" value="Cheese"></label>
				</div>
			</div>

			<!-- 	<div class="checkbox">
					<div id="markerWine" class="awesome-marker-icon-red awesome-marker" tabindex="0" style="width: 35px; height: 45px;  z-index: 88;"><i class=" ion ion-wineglass  icon-white"></i></div>
					<label>
						<input type="checkbox"> Check me out
					</label>
				</div> -->
				<button type="submit" class="btn btn-default" ng-click="showNewMarker=false;">Submit</button>
			</form>
		</div>

	</div>

	<div id="info">

<script>
  angular.module('checkboxExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.checkboxModel = {
       value1 : true,
       value2 : 'YES'
     };
    }]);
</script>
<form name="myForm" ng-controller="ExampleController">
  <label>Value1:
    <input type="checkbox" ng-model="checkboxModel.value1">
  </label><br/>
  <label>Value2:
    <input type="checkbox" ng-model="checkboxModel.value2"
           ng-true-value="'YES'" ng-false-value="'NO'">
   </label><br/>
  <tt>value1 = {{checkboxModel.value1}}</tt><br/>
  <tt>value2 = {{checkboxModel.value2}}</tt><br/>
 </form>

		<p> test : {{lineDistance}} </p>

	</div>



